@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Delius+Unicase&family=Poppins&family=Rowdies:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    width: 100%;
}

#nav {
    width: 100%;
    background-color: #1e1e1e;
    height: 60px;
    position: fixed;
}

#nav ul {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#nav ul li {
    width: 180px;
    height: 40px;
    text-align: center;
    list-style: none;
    border-radius: 50px;
    transition: 0.3s;
}

#nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 100px;
    line-height: 40px;
}

#nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#firework {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(at 50% 100%, rgb(15, 15, 57),black 75%);
    padding-top: 50px;
}

#firework .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 35px;
}

#firework h1:first-child{
    color: white;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

#firework h1:last-child{
    color: white;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

#firework .content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}

#firework .content .container {
    width: 370px;
    height: 330px;
    background-color: #1e1e1e;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#firework .content .container:hover {
    opacity: 0.7;
    border: 0;
    transform: translateY(-30px);
    background: transparent;
    backdrop-filter: blur(8px);
}

#firework .content .container p {
    color: white;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

#firework .content .container span {
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

#countdown {
    width: 100%;
    height: 100vh;
}

#countdown img {
    width: 100%;
}
